<div class="container mt-5">
    <div class="row">
        <div class="col-md-10">
            <h1>Usuarios</h1>
            <p>{{arrUsuarios.length}} Usuarios Registrados</p>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-sm mt-5 btn-block" [routerLink]="['/nuevo-usuario']">Nuevo Usuario</button>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th>NOMBRE</th>
                            <th>APELLIDO</th>
                            <th>CORREO</th>
                            <th>STATUS</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let usuario of arrUsuarios">
                        <tr>
                            <td>{{usuario.nombre}}</td>
                            <td>{{usuario.apellido}}</td>
                            <td>{{usuario.correo}}</td>
                            <td>{{usuario.status}}</td>
                            <td><button style="text-decoration: none;" class="btn btn-link mr-3 text-primary" (click)="editar(usuario.correo)">Editar</button></td>
                            <td><button type="button" style="text-decoration: none;" class="btn btn-link mr-3 text-danger" (click)="eliminar()">Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
